<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.cats.psychological.mapper.AreaMapper">
    <select id="selectAreaUsers" resultType="team.cats.psychological.vo.AreaAndUser">
        select area.*,users.user_name from area,users where area.delete_flag= false and area.area_principal = users.user_id
        <if test="value != null and value !=''">
            and area_name like concat('%',#{value},'%')
        </if>
        <if test="provinceId != null">
            and province_id =#{provinceId}
        </if>
        <if test="cityId != null">
            and city_id =#{cityId}
        </if>
    </select>
</mapper>
